// These are the default media queries designed to be used with min-width
$screen-xs: 21.563em; // 345px
$screen-s:  23.125em; // 380px
$screen-sm: 50em; // 704px
$screen-md: 64em; // 1024px
$screen-lg: 69em; // 1104px

$max-width: 1065px;


// Colours
$white: #fff;
$darkgrey: #3f3f3f;
$midgrey: #555;
$lightgrey: #ccc;
$vlightgrey: #e5e5e5;
$darkblue: #2b76a7;
$lightblue: #d5e4ed;
