<header class="header">
	<div class="constrained header__inner">
		<h1 class="alpha heading"><a href="/">HTMLDoc</a></h1>
		<a href="http://www.cxpartners.co.uk">
			<img src="assets/img/logo.png" class="logo" alt="made by cxpartners">
		</a>
	</div>
</header>